/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	/* @apply h-full overflow-hidden; */
}

h1 {
	@apply h1 mb-8;
}
h2 {
	@apply h2 mb-6;
}
h3 {
	@apply h3 mb-4;
}
h4 {
	@apply h4 mb-4;
}
h5 {
	@apply h5 mb-3;
}
h6 {
	@apply h6;
}

kbd {
	@apply kbd;
}

blockquote {
	@apply blockquote;
}

pre {
	@apply pre;
}

code {
	@apply code;
}

dialog {
	@apply bg-transparent;
}
