<script>
	import { ArrowUp } from 'lucide-svelte';
	import '../app.pcss';
</script>

<main class="mx-auto my-8 max-w-5xl">
	<h1>ARB Manager</h1>

	<slot />

	<button class="variant-glass-tertiary btn fixed bottom-4 right-4" on:click={() => scrollTo(0, 0)}>
		<span><ArrowUp /></span>
		<span>Back to top</span>
	</button>
</main>
