<script lang="ts">
	import { TabGroup, Tab, TabAnchor } from '@skeletonlabs/skeleton';
	import { download_file, generate_arb_file, parse_arb_file } from '$lib';
	import { FileDropzone } from '@skeletonlabs/skeleton';
	import { File, FileDown } from 'lucide-svelte';
	import Language from './Language.svelte';

	let template_files = $state<FileList>();
	let template_file = $derived(template_files?.[0]);

	$inspect(template_file);

	let parsed_template = $state<ParsedArbFile>();
	$inspect(parsed_template);

	$effect(() => {
		if (!template_file) return;
		parse_arb_file(template_file).then((parsed) => (parsed_template = parsed));
	});

	let language_files = $state<FileList>();
	let parsed_languages = $state<ParsedArbFile[]>();

	$effect(() => {
		if (!language_files) return;
		Promise.all(Array.from(language_files).map(parse_arb_file)).then(
			(parsed) => (parsed_languages = parsed)
		);
	});

	$inspect(parsed_languages);

	let tab_set: number = $state(0);

	let downloading = false;
	async function download_translations() {
		if (!parsed_languages || parsed_languages.length === 0) return;
		if (downloading) return;
		downloading = true;

		const arb_files_promises = parsed_languages.map(generate_arb_file);

		for await (const arb_file of arb_files_promises) {
			download_file(arb_file);
		}
	}
</script>

{#if !template_file}
	<FileDropzone name="template_files" bind:files={template_files} accept=".arb">
		<svelte:fragment slot="lead">
			<div class="grid place-items-center">
				<File size={64} />
			</div>
		</svelte:fragment>
		<svelte:fragment slot="message">
			First, upload a template file - the autogenerated one with all translations.
		</svelte:fragment>
		<svelte:fragment slot="meta">
			It has to be a <code>.arb</code> file, e.g. <code>intl_messages.arb</code>.
		</svelte:fragment>
	</FileDropzone>
{:else if parsed_template}
	<div>
		<h3>Template file</h3>
		<div>
			<h4>Last modified: {parsed_template.metadata['@@last_modified']}</h4>
			<h4>Number of strings: {Object.keys(parsed_template.messages).length}</h4>
		</div>
	</div>

	{#if !language_files}
		<FileDropzone name="language_files" bind:files={language_files} accept=".arb" multiple>
			<svelte:fragment slot="lead">
				<div class="grid grid-cols-3 place-items-center gap-3">
					<File size={64} />
					<File size={64} />
					<File size={64} />
				</div>
			</svelte:fragment>
			<svelte:fragment slot="message">
				Now, you can upload the language files to compare with the template.
			</svelte:fragment>
			<svelte:fragment slot="meta">
				They have to be <code>.arb</code> files, e.g. <code>intl_en.arb</code>,
				<code>intl_de.arb</code>, etc.
			</svelte:fragment>
		</FileDropzone>
	{:else if parsed_languages}
		<div class="my-2 flex justify-end">
			<button type="button" class="variant-glass-success btn" on:click={download_translations}>
				<span><FileDown /></span>
				<span>Download translations</span>
			</button>
		</div>

		<TabGroup>
			{#each language_files as file, idx}
				<Tab name={file.name} bind:group={tab_set} value={idx}>
					<span>{file.name}</span>
				</Tab>
			{/each}

			<svelte:fragment slot="panel">
				<Language template={parsed_template} bind:language={parsed_languages[tab_set]} />
			</svelte:fragment>
		</TabGroup>
	{/if}
{/if}
