<script lang="ts">
	import { CirclePlus } from 'lucide-svelte';

	let { template, language } = $props<{ template: ParsedArbFile; language: ParsedArbFile }>();

	let language_keys = $derived(Object.keys(language.messages));

	let missing_keys = $derived(template.messages_keys.filter((key) => !language_keys.includes(key)));

	let abundant_keys = $derived(
		language_keys.filter((key) => !template.messages_keys.includes(key))
	);

	function add_translation(message_key: string) {
		language.messages[message_key] = {
			message: '',
			metadata: template.messages[message_key].metadata
		};
	}
</script>

<div class="grid grid-cols-2 gap-4">
	<div class="card variant-glass-error my-6 p-8">
		<h2 class="mb-4 text-2xl font-bold">Missing translations</h2>
		{#if missing_keys.length === 0}
			<p>All translations are present</p>
		{:else}
			<ul class="list">
				{#each missing_keys as message_key}
					<li>
						<a href="#{message_key}">
							<code>{message_key}</code>
						</a>
					</li>
				{/each}
			</ul>
		{/if}
	</div>

	<div class="card variant-glass-warning my-6 p-8">
		<h2 class="mb-4 text-2xl font-bold">Abundant translations</h2>
		{#if abundant_keys.length === 0}
			<p>No extra translations</p>
		{:else}
			<ul class="list">
				{#each abundant_keys as message_key}
					<li>
						<code>{message_key}</code>
						<button
							type="button"
							class="variant-filled-primary btn btn-sm"
							on:click={() => delete language.messages[message_key]}
						>
							Delete
						</button>
					</li>
				{/each}
			</ul>
		{/if}
	</div>
</div>

{#each template.messages_keys as message_key}
	<div class="card my-6 p-8" id={message_key}>
		<p class="mb-4">
			<code class="text-xl">{message_key}</code>
		</p>

		<div class="grid grid-cols-2 gap-4">
			<div>
				<h4>Translation</h4>

				{#if language.messages[message_key]}
					<textarea
						class="textarea p-4"
						rows="4"
						bind:value={language.messages[message_key].message}
					/>
				{:else}
					<button
						type="button"
						class="variant-filled-primary btn btn-md"
						on:click={() => add_translation(message_key)}
					>
						<span>
							<CirclePlus />
						</span>
						<span>Add translation</span>
					</button>
				{/if}
			</div>
			<div>
				<h4>Metadata</h4>
				<pre class="text-xs">{JSON.stringify(
						template.messages[message_key].metadata,
						null,
						2
					)}</pre>
			</div>
		</div>
	</div>
{/each}
